<!-- your html code here -->
<div class="container bg-white">
  <h1>Portfolio</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam neque, pellentesque non arcu quis, euismod
    pellentesque augue. Etiam finibus posuere lorem ac gravida.</p>
  <div class="row">
    <div class="card-group mb-5 border-0">
      <div class="col-md-4">
        <div class="card mx-1 border-0">
          <img class="card-img-top" src="http://lorempixel.com/700/400/" alt="Card image cap">
          <div class="card-body">
            <a href="#">
              <h5 class="card-title">Project Name</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam neque, pellentesque
              non arcu quis, euismod pellentesque augue. Etiam finibus posuere lorem ac gravida.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-1 border-0">
          <img class="card-img-top" src="http://lorempixel.com/700/400/" alt="Card image cap">
          <div class="card-body">
            <a href="#">
              <h5 class="card-title">Project Name</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam neque, pellentesque
              non arcu quis, euismod pellentesque augue. Etiam finibus posuere lorem ac gravida.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-1 border-0">
          <img class="card-img-top" src="http://lorempixel.com/700/400/" alt="Card image cap">
          <div class="card-body">
            <a href="#">
              <h5 class="card-title">Project Name</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam neque, pellentesque
              non arcu quis, euismod pellentesque augue. Etiam finibus posuere lorem ac gravida.</p>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</div>